body {
	    background-color:darkgrey ;
}
h1 {
      color:maroon;
      font-weight: bold;
      text-align: center;
      font-size: 18px;
      font-family: 'EB Garamond', serif;
}
h2 {
      color:maroon;
      text-align: center;
      font-size: 18px;
      font-family: 'EB Garamond', serif;
}

h3 {
      color: maroon;
      text-align: center;
      font-size: 18px;
      font-family: 'EB Garamond', serif;
}

h4 {
       color: maroon;
       text-align: left;
       font-weight: bold;
       margin-left: 8%;
       font-family: 'EB Garamond', serif;
       font-size: 18px;
}
.hangingindent {
       padding-left: 22px ;
       text-indent: -22px ;
}

p { 
       color: black;
       margin-left: 8%;
       text-indent: 4%;
       max-width: 80%;
       font-size: 15px;
       font-family: 'EB Garamond', serif;
}

img {
       margin-left: auto;
       margin-right: auto;
       width: 50%;
       display: block;
}
