body {
	  background-color: black;
	  font: 18px Arial, sans-serif;
	  
}

h1 {
	text-align: center;
	    color: orange;
	  font: 42px Arial, sans-serif;
}
h2 {
	text-align: center;
	color: orange;
	  font: 34px Arial, sans-serif;
}
h3 {
	text-align: center;
	color: orange;
	  font: 25px Arial, sans-serif;
}
p {
    text-align: justify;
    Font-size: 20px;
	       color: orange;
}

body {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    display:block;
}
h4 {
             text-align: center;
                 color: orange;
            font: 42px Arial, sans-serif;
}
h5 {
             text-align: center;
                color: orange;
               font: 42px Arial, sans-serif;
     }

h6 {
            text-align: center;
                color: orange;
               font: 42px Arial, sans-serif;
     }                                  
