body {
	  background-color: lightblue;
	  font: 18px Arial, sans-serif;
	  
}

h1 {
	text-align: center;
	    color: white;
	  font: 42px Arial, sans-serif;
}
h2 {
	text-align: center;
	color: white;
	  font: 34px Arial, sans-serif;
}
h3 {
	text-align: center;
	color: navy;
	  font: 25px Arial, sans-serif;
}
p {
    text-align: justify;
    Font-size: 20px;
	       color: navy;
}

body {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    display:block;
}
